<!DOCTYPE HTML>
<html>
<head>
    <title></title>

</head>
<body>
    <div>
        <form action="" method='GET'>
            <!--<h1><a href = "localhost:3000">SNOCLE</a></h1>-->
            <label for="Search-school">Find your School:</label>
            <form class="form-inline" role="search" method="GET" action="/search">
                <input id="searchSchool" name="school" type="search" placeholder="Search" aria-label="School">
                <input type="submit" value="Search">
            </form>
            <input type="button" value="All">
        </form>
    </div>
</body>
</html>