<!DOCTYPE HTML>
<html>
<head>
    <title></title>

</head>
<body>
    <div>
        <form action="" method='get'>
            <!--<h1><a href = "localhost:3000">SNOCLE</a></h1>-->
            <label for="Search-school">Find your School:</label>
            <input id="Search-school" type="text" name="school">
            <input type="submit" value="Search">
            <input type="button" value="All">
        </form>
    </div>
</body>
</html>