<!DOCTYPE HTML>
<html>
<head>
    <title></title>

</head>
<body>
    <div>
        <!--<h1><a href = "localhost:3000">SNOCLE</a></h1>-->
        <label for="Search-school">Find your School:</label>
        <form role="search" method="GET" action="/search">
            <input id="searchSchool" name="school" type="search" placeholder="Search">
            <button type="submit">search</button>
        </form>
        <button type="button" onclick="location.replace('/all')">all</button>
    </div>
</body>
</html>