<!DOCTYPE HTML>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <form action="/create" method="POST">
            <label for="Suggest creation">No "<%=name%>", create?:</label>
            <label for="school_name">School Name</label>
            <input id="school_name" type="text" placeholder="<%=name%>" value="<%=name%>">
            <label for="school_campus">Campus</label>
            <input id="school_campus" type="text" placeholder="Seoul" value="<%=campus%>">
            <button type="submit">add</button>
        </form>           
    </div>
</body>
</html>